@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

/* hide-scrollbar.css */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}

/* Custom scrollbar for category page - specifically for horizontal scrolling */
.scrollbar-category::-webkit-scrollbar {
  height: 6px; /* Height of the horizontal scroll bar */
  width: auto;
}

.scrollbar-category::-webkit-scrollbar-track {
  background: #f4f4f4;
  border-radius: 10px;
}

.scrollbar-category::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.scrollbar-category::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.montserrat-300 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
}

.montserrat-400 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

.montserrat-500 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
}

/* bold font */
.montserrat-700 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight:700;
  font-style: normal;
}

/* styling clerk avatar box  */
/* .cl-avatarBox {
  width: 5rem;
  height: 5rem;
} */



/* Target the entire scroll bar */
::-webkit-scrollbar {
  width: 8px; /* Width of the scroll bar */
}

/* Track of the scroll bar */
::-webkit-scrollbar-track {
  background: #f4f4f4; /* Light background for the track */
  border-radius: 10px;
}

/* Thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #ccc; /* Color of the thumb */
  border-radius: 10px;
}

/* Hover effect on the thumb */
::-webkit-scrollbar-thumb:hover {
  background: #888; /* Darker shade when hovered */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* Thin scroll bar */
  scrollbar-color: #ccc #f4f4f4; /* Thumb and track colors */
}
